@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

:root {
  margin: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hero-bg {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("./assets/background.jpg"),
    rgb(255, 255, 255) 0px -1241.288px / 100% 212.254% no-repeat;
  background-position: center;
  background-size: cover;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.menu-container {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

/* Show the menu when it's opened */
.menu-container.active {
  transform: translateY(0);
}

@media screen and (max-width: 1024px) {
  .max-width-absolute {
    left: 0;
    right: 0;
    bottom: -24%;
  }
}

@media screen and (max-width: 640px) {
  .max-width-absolute {
    left: 0;
    right: 0;
    bottom: -14%;
  }
}

.navbar {
  transition: 0.45s ease-in-out;
  -webkit-transition: 0.45s ease-in-out;
  -moz-transition: 0.45s ease-in-out;
  -ms-transition: 0.45s ease-in-out;
  -o-transition: 0.45s ease-in-out;
}

.gallery::-webkit-scrollbar {
  display: none;
}
